* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

video{
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.video-container {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:active{
    background-color: #0056b3;
}

canvas {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}